[submodule "gfx/ext/glm"]
	path = gfx/ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "gfx/ext/stb"]
	path = gfx/ext/stb
	url = https://github.com/nothings/stb.git
[submodule "gfx/ext/vk-bootstrap"]
	path = gfx/ext/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "gfx/ext/volk"]
	path = gfx/ext/volk
	url = https://github.com/zeux/volk.git
[submodule "gfx/ext/zlib"]
	path = gfx/ext/zlib
	url = https://github.com/madler/zlib.git
[submodule "gfx/ext/vma"]
	path = gfx/ext/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
